<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="fas fa-robot me-2"></i>
            獵戶星空
        </a>
        
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= page === 'home' ? 'active' : '' %>" href="/">主頁</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%= page === 'products' ? 'active' : '' %>" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        產品中心
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                        <li><a class="dropdown-item" href="/products">全部</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/products?category=delivery">行銷遞送機器人</a></li>
                        <li><a class="dropdown-item" href="/products?category=greeting">接待問候機器人</a></li>
                        <li><a class="dropdown-item" href="/products?category=industrial">倉儲機器人</a></li>
                        <li><a class="dropdown-item" href="/products?category=cleaning">清潔機器人</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/solutions">行業應用</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        關於我們
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="/about">公司簡介</a></li>
                        <li><a class="dropdown-item" href="/certifications">資質認證</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        聯繫我們
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                        <li><a class="dropdown-item" href="/contact">聯繫方式</a></li>
                        <li><a class="dropdown-item" href="/partners">成為合作伙伴</a></li>
                    </ul>
                </li>
            </ul>
            

        </div>
    </div>
</nav>
